# OS Metadata
.DS_Store
Thumbs.db

# IDE / Editor Files
.vs/
.vscode/
*.csproj
*.sln
*.user
*.userprefs
*.suo

# Unity Temp Files (if you test inside the repo)
[Log]s/
[Te]mp/
[Ob]j/
[Library]/
[Build]/
[UserSettings]/

# Avoid committing local package overrides
*.json.user
